aws_region      = "us-west-1"
aws_profile     = "default"
aws_environment = "development"
aws_project     = "your-project-name"
aws_owner       = "your-name"
aws_keyname    = "your-key-name"

aws_vpc_config = {
    cidr_block                   = "10.0.0.0/16"
    enable_dns_support           = true
    enable_dns_hostnames         = true
    public_subnets_cidr          = ["10.0.1.0/24"]
    private_subnets_cidr         = [""]
    number_of_availability_zones = 1
    enable_nat_gateway           = false
}

# EC2 instance configuration
gearment_app_instance_type = "t2.micro"
gearment_app_ebs_size = 8
gearment_app_private_ips = ["10.0.1.10"]

# S3 bucket configuration
s3_buckets = [
    {
        name              = "gearment-app-user-avatars-bucket"
        versioning_enabled = true
        tags              = { Purpose = "UserAvatars" }
    },
    {
        name              = "gearment-app-db-backups-bucket"
        versioning_enabled = true
        tags              = { Purpose = "DatabaseBackups" }
    }
    ]

    s3_policies = [
    {
        name = "gearment-app-avatar-access"
        statements = [
        {
            effect        = "Allow"
            actions       = ["s3:PutObject", "s3:GetObject", "s3:DeleteObject"]
            bucket_names  = ["gearment-app-user-avatars-bucket"]
            resource_type = "object"
        },
        {
            effect        = "Allow"
            actions       = ["s3:ListBucket"]
            bucket_names  = ["gearment-app-user-avatars-bucket"]
            resource_type = "bucket"
        }
        ]
        users = ["gearment-app-avatar-user"]
    },
    {
        name = "gearment-app-backup-access"
        statements = [
        {
            effect        = "Allow"
            actions       = ["s3:PutObject", "s3:GetObject", "s3:DeleteObject"]
            bucket_names  = ["gearment-app-db-backups-bucket"]
            resource_type = "object"
        },
        {
            effect        = "Allow"
            actions       = ["s3:ListBucket"]
            bucket_names  = ["gearment-app-db-backups-bucket"]
            resource_type = "bucket"
        }
        ]
        users = ["gearment-app-backup-user"]
    }
]

s3_users = ["gearment-app-avatar-user", "gearment-app-backup-user"]